**/node_modules/
**/dist/

.env
LMS_client/.env.local
LMS_client/.env.development
LMS_client/.env.production
LMS_server/.env

LMS_client/.next/

.DS_Store
Thumbs.db

.vscode/

LMS_server/shared-local-instance.db
LMS_server/dynamodb-local-metadata.json




